/* Base styles */

body {
    text-align: center;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
  }
   
  /* Layout styles */
  
  #text-area {
    margin-top: 50px;
  }
  
  /* State styles */
  
  #new-game-button,
  #hit-button,
  #stay-button {
    display:inline-block;
  }